<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd"
>

    <context:component-scan base-package="com.github.ltsopensource.admin.web"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:annotation-config/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <mvc:resources mapping="/assets/**" location="classpath:static/assets/"/>

    <bean id="velocityConfig" class="com.github.ltsopensource.admin.velocity.view.VelocityConfigurer">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">webapp</prop>
                <prop key="webapp.resource.loader.class">org.apache.velocity.tools.view.WebappResourceLoader</prop>
                <prop key="webapp.resource.loader.path">/WEB-INF/views/</prop>
                <prop key="webapp.resource.loader.cache">true</prop>
                <prop key="webapp.resource.loader.modificationCheckInterval">300</prop>
                <prop key="webapp.resource.loader.cache">false</prop>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
            </props>

            <!--<props>-->
                <!--&lt;!&ndash;<prop key="resource.loader">class</prop>&ndash;&gt;-->
                <!--<prop key="class.resource.loader.class">-->
                    <!--org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader-->
                <!--</prop>-->
                <!--<prop key="class.resource.loader.path">classpath:static/views/</prop>-->
                <!--<prop key="class.resource.loader.cache">true</prop>-->
                <!--<prop key="class.resource.loader.modificationCheckInterval">300</prop>-->
                <!--<prop key="class.resource.loader.cache">false</prop>-->
                <!--<prop key="input.encoding">UTF-8</prop>-->
                <!--<prop key="output.encoding">UTF-8</prop>-->
            <!--</props>-->
        </property>
    </bean>
    <bean id="viewResolver"
          class="com.github.ltsopensource.admin.velocity.view.VelocityLayoutViewResolver">
        <property name="cache" value="false"/>
        <property name="prefix" value="/templates/"/>
        <property name="layoutUrl" value="/layout/main.vm"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="viewClass" value="com.github.ltsopensource.admin.velocity.view.VelocityLayoutView"/>
    </bean>

    <bean class="com.github.ltsopensource.admin.web.support.ExceptionHandlerResolver"/>

</beans>